:root {
  --secondary-nav-color: #212865;
  --header-color: #7884cd;
}

.navbar {
  background-color: #2f3ba1;
  border-style: none none solid none;
  border-width: 3px;
  border-color: var(--secondary-nav-color);
}

.nav-item:hover {
  background-color: #212865;
}

.header {
  background-color: #7884cd;
  color: white;
  padding: 40px;
}


.footer {
  background-color: lightgray;
}

.row {
  border-bottom: 1px solid lightgray;
  padding: 40px 0 40px 0;
}

.row:last-child {
  border-bottom: none;
}

body, html{
  margin:0;
  padding:0;
}


